<!doctype html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title></title>
  </head>
  <body>
    <form
      action="ex-thymeleaf-result.html"
      th:action="@{/exam/result}"
      th:object="${memberForm}"
      method="post"
    >
      名前：<input type="text" name="name" th:field="*{name}"/><br />
      年齢：<input type="text" name="age" th:field="*{age}"/><br />
      趣味（３つ）：<br />
      <div class="checkbox" th:each="hobby:${hobbyMap}">
        <label th:for="hobby + ${hobby.key}">
          <input
            th:id="hobby + ${hobby.key}"
            type="checkbox"
            name="hobbyList"
            th:field="*{hobbyList}"
            th:value="${hobby.key}"
            th:text="${hobby.value}"
          />
        </label><br>
      </div>
      <button type="submit">送信</button>
    </form>
  </body>
</html>
